In [1]:
import numpy as np
import pandas as pd

from pycaret.regression import *

# 변수셋3 모델별 비교

In [8]:
male_df = pd.read_csv('./hospital_male_0802_test.csv', encoding='cp949')
male_df = male_df.sort_values(['tma', 'area']).reset_index(drop=True)
male_df.mm = male_df.mm.astype('int64')
# male_df.to_csv('hospital_male_0802_test2.csv', encoding='cp949', index=False)
male_df = male_df[~male_df['tma'].astype(str).str.contains('2011-|2016-')].reset_index(drop=True)
male_df.head()

,area,tma,yyyy,mm,dd,weekday,sum_gsr,sum_rn,avg_ps,max_ps,...,avg_hum,diff_hum,min_temp,max_temp,avg_temp,diff_temp,pm10_3b,pm10_7b,pm10_31b,frequency
0,강원,2012-01-01,2012,1,1,6,0.000000,0.173611,1023.886667,1026.533333,...,58.333333,65.0,-7.3,5.0,-2.344048,12.3,87.662500,30.158333,15.678261,3.0
1,경기,2012-01-01,2012,1,1,6,0.000000,0.037736,1024.875000,1027.225000,...,50.733333,27.0,-6.9,1.0,-3.010000,7.9,106.851851,28.537404,13.474891,4.0
2,경남,2012-01-01,2012,1,1,6,0.000000,0.065789,1022.950000,1024.900000,...,44.916667,47.0,-2.9,7.0,1.642857,9.9,72.989269,26.719907,16.193461,2.0
3,경북,2012-01-01,2012,1,1,6,0.000702,0.721053,1023.268000,1025.488000,...,52.377778,70.0,-5.9,6.1,0.075556,12.0,88.189236,25.336806,12.743785,6.0
4,광주,2012-01-01,2012,1,1,6,0.000000,0.700000,1025.250000,1027.250000,...,75.833333,15.0,-0.9,3.0,0.383333,3.9,62.750000,18.958333,8.566667,0.0

In [9]:
female_df = pd.read_csv('./hospital_female_0802_test.csv', encoding='cp949')
female_df = female_df.sort_values(['tma', 'area']).reset_index(drop=True)
female_df.mm = female_df.mm.astype('int64')
# female_df.to_csv('hospital_female_0802_test2.csv', encoding='cp949', index=False)
female_df = female_df[~female_df['tma'].astype(str).str.contains('2011-|2016-')].reset_index(drop=True)
female_df.head()

,area,tma,yyyy,mm,dd,weekday,sum_gsr,sum_rn,avg_ps,max_ps,...,avg_hum,diff_hum,min_temp,max_temp,avg_temp,diff_temp,pm10_3b,pm10_7b,pm10_31b,frequency
0,강원,2012-01-01,2012,1,1,6,0.000000,0.173611,1023.886667,1026.533333,...,58.333333,65.0,-7.3,5.0,-2.344048,12.3,87.662500,30.158333,15.678261,3.0
1,경기,2012-01-01,2012,1,1,6,0.000000,0.037736,1024.875000,1027.225000,...,50.733333,27.0,-6.9,1.0,-3.010000,7.9,106.851851,28.537404,13.474891,5.0
2,경남,2012-01-01,2012,1,1,6,0.000000,0.065789,1022.950000,1024.900000,...,44.916667,47.0,-2.9,7.0,1.642857,9.9,72.989269,26.719907,16.193461,1.0
3,경북,2012-01-01,2012,1,1,6,0.000702,0.721053,1023.268000,1025.488000,...,52.377778,70.0,-5.9,6.1,0.075556,12.0,88.189236,25.336806,12.743785,1.0
4,광주,2012-01-01,2012,1,1,6,0.000000,0.700000,1025.250000,1027.250000,...,75.833333,15.0,-0.9,3.0,0.383333,3.9,62.750000,18.958333,8.566667,2.0

In [12]:
cols_1 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_3b','diff_hum','diff_temp','avg_ps',
          'o3','avg_age','min_max_ps', 'avg_hum','frequency']

cols_2 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_7b','diff_hum','diff_temp','avg_ps',
          'o3','avg_age','min_max_ps', 'avg_hum','frequency']

cols_3 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_31b','diff_hum','diff_temp','avg_ps',
          'o3','avg_age','min_max_ps', 'avg_hum','frequency']

male_dataset = male_df[cols_3]
male_dataset.head(3)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency
0,강원,1,6,0,0,772718,12.460044,15.678261,65.0,12.3,1023.886667,0.027750,39.4,6.34,58.333333,3.0
1,경기,1,6,0,0,6020446,7.432174,13.474891,27.0,7.9,1024.875000,0.023165,36.1,5.50,50.733333,4.0
2,경남,1,6,0,0,1665308,9.179443,16.193461,47.0,9.9,1022.950000,0.027277,37.4,5.20,44.916667,2.0

In [13]:
cols_1 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_3b','diff_hum','diff_temp','avg_ps',
          'avg_age','min_max_ps', 'sum_rn','frequency']

cols_2 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_7b','diff_hum','diff_temp','avg_ps',
          'avg_age','min_max_ps', 'sum_rn','frequency']

cols_3 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_31b','diff_hum','diff_temp','avg_ps',
          'avg_age','min_max_ps', 'sum_rn','frequency']

female_dataset = female_df[cols_3]
female_dataset.head(3)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency
0,강원,1,6,0,0,762617,18.053361,15.678261,65.0,12.3,1023.886667,42.4,6.34,0.173611,3.0
1,경기,1,6,0,0,5928150,10.649039,13.474891,27.0,7.9,1024.875000,37.7,5.50,0.037736,5.0
2,경남,1,6,0,0,1644251,15.076105,16.193461,47.0,9.9,1022.950000,40.5,5.20,0.065789,1.0

# 남자

In [14]:
male_data = male_dataset.sample(frac=0.9, random_state=786) 
male_data_unseen = male_dataset.drop(male_data.index) 

male_data.reset_index(drop=True, inplace=True) 
male_data_unseen.reset_index(drop=True, inplace=True) 

print('Data for Modeling: ' + str(male_data.shape)) 
print('Unseen Data For Predictions: ' + str(male_data_unseen.shape))

Data for Modeling: (22353, 16)
Unseen Data For Predictions: (2484, 16)

In [18]:
s = setup(male_data, target = 'frequency', session_id=123)
# s = setup(female_data, target = 'frequency', session_id=123)

#### best model

In [19]:
best_model_5 = compare_models(sort='RMSE', n_select = 5)

final_model = finalize_model(best_model_5[0])
prediction = predict_model(final_model, data=male_data_unseen)
prediction.head()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.272389
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.855600
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.127711
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.320896
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.223967

#### tuned_model

In [20]:
tuned_top5 = [tune_model(i, optimize = 'RMSE', n_iter=10) for i in best_model_5]

final_model = finalize_model(tuned_top5[0])
prediction = predict_model(final_model, data=male_data_unseen)
prediction.head()

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 4 candidates, totalling 40 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.272389
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.855600
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.127711
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.320896
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.223967

#### blender(best_models)

In [21]:
blender_male = blend_models(estimator_list=best_model_5, optimize = 'RMSE')
# blender_female = blend_models(estimator_list=best_model_5, optimize = 'RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [22]:
predict_model(blender_male)
# predict_model(blender_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,11.0,4.0,0.0,0.0,1354791.0,12.728827,20.855356,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.809438
15648,1.875928,3.0,3.0,0.0,0.0,1737884.0,12.305367,193.389267,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,2.016825
15649,0.713808,12.0,2.0,0.0,0.0,759778.0,9.317327,48.208332,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.794616
15650,2.001076,2.0,0.0,0.0,0.0,1664550.0,9.238954,22.597301,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.178727
15651,1.160347,2.0,6.0,0.0,0.0,932775.0,13.073034,74.467484,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.956435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,12.0,4.0,0.0,0.0,1670545.0,9.560892,37.080593,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.878393
22349,1.100213,1.0,4.0,0.0,0.0,775636.0,13.379729,40.199772,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.048221
22350,1.428571,3.0,5.0,0.0,0.0,955003.0,14.464353,49.689220,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.303197
22351,1.128009,1.0,5.0,0.0,0.0,1248869.0,9.019361,49.112885,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.993617
22352,1.160347,5.0,0.0,0.0,0.0,933565.0,12.673141,40.344906,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.357424

In [23]:
final_model = finalize_model(blender_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(blender_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.336884
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.911651
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.185764
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.283217
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.200766

#### beldner(tuned models)

In [24]:
blender_male = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')
# blender_female = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [25]:
predict_model(blender_male)
# predict_model(blender_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,11.0,4.0,0.0,0.0,1354791.0,12.728827,20.855356,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.792936
15648,1.875928,3.0,3.0,0.0,0.0,1737884.0,12.305367,193.389267,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,2.012739
15649,0.713808,12.0,2.0,0.0,0.0,759778.0,9.317327,48.208332,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.810654
15650,2.001076,2.0,0.0,0.0,0.0,1664550.0,9.238954,22.597301,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.242799
15651,1.160347,2.0,6.0,0.0,0.0,932775.0,13.073034,74.467484,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.900110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,12.0,4.0,0.0,0.0,1670545.0,9.560892,37.080593,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.864154
22349,1.100213,1.0,4.0,0.0,0.0,775636.0,13.379729,40.199772,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.024133
22350,1.428571,3.0,5.0,0.0,0.0,955003.0,14.464353,49.689220,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.269463
22351,1.128009,1.0,5.0,0.0,0.0,1248869.0,9.019361,49.112885,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.955261
22352,1.160347,5.0,0.0,0.0,0.0,933565.0,12.673141,40.344906,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.418588

In [26]:
final_model = finalize_model(blender_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(blender_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.286895
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.856716
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.132346
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.323127
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.219348

#### bagging

In [27]:
bagging_male = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)
# bagging_female = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [28]:
predict_model(bagging_male)
# predict_model(bagging_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,11.0,4.0,0.0,0.0,1354791.0,12.728827,20.855356,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.787864
15648,1.875928,3.0,3.0,0.0,0.0,1737884.0,12.305367,193.389267,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,2.052610
15649,0.713808,12.0,2.0,0.0,0.0,759778.0,9.317327,48.208332,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.820964
15650,2.001076,2.0,0.0,0.0,0.0,1664550.0,9.238954,22.597301,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.234872
15651,1.160347,2.0,6.0,0.0,0.0,932775.0,13.073034,74.467484,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.906177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,12.0,4.0,0.0,0.0,1670545.0,9.560892,37.080593,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.861480
22349,1.100213,1.0,4.0,0.0,0.0,775636.0,13.379729,40.199772,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.044072
22350,1.428571,3.0,5.0,0.0,0.0,955003.0,14.464353,49.689220,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.272031
22351,1.128009,1.0,5.0,0.0,0.0,1248869.0,9.019361,49.112885,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.967161
22352,1.160347,5.0,0.0,0.0,0.0,933565.0,12.673141,40.344906,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.400997

In [29]:
final_model = finalize_model(bagging_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(bagging_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.272389
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.855600
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.127711
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.320896
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.223967

In [30]:
bagging_male = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)
# bagging_female = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [31]:
predict_model(bagging_male)
# predict_model(bagging_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,11.0,4.0,0.0,0.0,1354791.0,12.728827,20.855356,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.787864
15648,1.875928,3.0,3.0,0.0,0.0,1737884.0,12.305367,193.389267,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,2.052610
15649,0.713808,12.0,2.0,0.0,0.0,759778.0,9.317327,48.208332,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.820964
15650,2.001076,2.0,0.0,0.0,0.0,1664550.0,9.238954,22.597301,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.234872
15651,1.160347,2.0,6.0,0.0,0.0,932775.0,13.073034,74.467484,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.906177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,12.0,4.0,0.0,0.0,1670545.0,9.560892,37.080593,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.861480
22349,1.100213,1.0,4.0,0.0,0.0,775636.0,13.379729,40.199772,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.044072
22350,1.428571,3.0,5.0,0.0,0.0,955003.0,14.464353,49.689220,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.272031
22351,1.128009,1.0,5.0,0.0,0.0,1248869.0,9.019361,49.112885,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.967161
22352,1.160347,5.0,0.0,0.0,0.0,933565.0,12.673141,40.344906,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.400997

In [32]:
final_model = finalize_model(bagging_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(bagging_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.272389
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.855600
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.127711
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.320896
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.223967

In [33]:
boosting_male = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)
# boosting_female = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [34]:
predict_model(boosting_male)
# predict_model(boosting_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,11.0,4.0,0.0,0.0,1354791.0,12.728827,20.855356,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.787864
15648,1.875928,3.0,3.0,0.0,0.0,1737884.0,12.305367,193.389267,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,2.052610
15649,0.713808,12.0,2.0,0.0,0.0,759778.0,9.317327,48.208332,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.820964
15650,2.001076,2.0,0.0,0.0,0.0,1664550.0,9.238954,22.597301,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.234872
15651,1.160347,2.0,6.0,0.0,0.0,932775.0,13.073034,74.467484,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.906177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,12.0,4.0,0.0,0.0,1670545.0,9.560892,37.080593,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.861480
22349,1.100213,1.0,4.0,0.0,0.0,775636.0,13.379729,40.199772,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.044072
22350,1.428571,3.0,5.0,0.0,0.0,955003.0,14.464353,49.689220,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.272031
22351,1.128009,1.0,5.0,0.0,0.0,1248869.0,9.019361,49.112885,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.967161
22352,1.160347,5.0,0.0,0.0,0.0,933565.0,12.673141,40.344906,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.400997

In [35]:
final_model = finalize_model(boosting_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(boosting_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.272389
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.855600
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.127711
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.320896
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.223967

In [36]:
boosting_male = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)
# boosting_female = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [37]:
predict_model(boosting_male)
# predict_model(boosting_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,11.0,4.0,0.0,0.0,1354791.0,12.728827,20.855356,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.787864
15648,1.875928,3.0,3.0,0.0,0.0,1737884.0,12.305367,193.389267,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,2.052610
15649,0.713808,12.0,2.0,0.0,0.0,759778.0,9.317327,48.208332,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.820964
15650,2.001076,2.0,0.0,0.0,0.0,1664550.0,9.238954,22.597301,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.234872
15651,1.160347,2.0,6.0,0.0,0.0,932775.0,13.073034,74.467484,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.906177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,12.0,4.0,0.0,0.0,1670545.0,9.560892,37.080593,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.861480
22349,1.100213,1.0,4.0,0.0,0.0,775636.0,13.379729,40.199772,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.044072
22350,1.428571,3.0,5.0,0.0,0.0,955003.0,14.464353,49.689220,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.272031
22351,1.128009,1.0,5.0,0.0,0.0,1248869.0,9.019361,49.112885,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.967161
22352,1.160347,5.0,0.0,0.0,0.0,933565.0,12.673141,40.344906,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.400997

In [38]:
final_model = finalize_model(boosting_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(boosting_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.272389
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.855600
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.127711
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.320896
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.223967

In [39]:
stack_male = stack_models(best_model_5)
# stack_female = stack_models(best_model_5)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [40]:
predict_model(stack_male)
# predict_model(stack_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,11.0,4.0,0.0,0.0,1354791.0,12.728827,20.855356,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.784307
15648,1.875928,3.0,3.0,0.0,0.0,1737884.0,12.305367,193.389267,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,2.049111
15649,0.713808,12.0,2.0,0.0,0.0,759778.0,9.317327,48.208332,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.848314
15650,2.001076,2.0,0.0,0.0,0.0,1664550.0,9.238954,22.597301,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.224658
15651,1.160347,2.0,6.0,0.0,0.0,932775.0,13.073034,74.467484,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.912634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,12.0,4.0,0.0,0.0,1670545.0,9.560892,37.080593,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.862859
22349,1.100213,1.0,4.0,0.0,0.0,775636.0,13.379729,40.199772,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.070656
22350,1.428571,3.0,5.0,0.0,0.0,955003.0,14.464353,49.689220,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.254363
22351,1.128009,1.0,5.0,0.0,0.0,1248869.0,9.019361,49.112885,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.985088
22352,1.160347,5.0,0.0,0.0,0.0,933565.0,12.673141,40.344906,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.386651

In [41]:
final_model = finalize_model(stack_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(stack_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.264096
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.848966
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.113363
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.322690
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.255162

In [42]:
stack_male = stack_models(tuned_top5)
# stack_female = stack_models(tuned_top5)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [43]:
predict_model(stack_male)
# predict_model(stack_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,11.0,4.0,0.0,0.0,1354791.0,12.728827,20.855356,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.791955
15648,1.875928,3.0,3.0,0.0,0.0,1737884.0,12.305367,193.389267,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,2.051857
15649,0.713808,12.0,2.0,0.0,0.0,759778.0,9.317327,48.208332,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.826843
15650,2.001076,2.0,0.0,0.0,0.0,1664550.0,9.238954,22.597301,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.233058
15651,1.160347,2.0,6.0,0.0,0.0,932775.0,13.073034,74.467484,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.907658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,12.0,4.0,0.0,0.0,1670545.0,9.560892,37.080593,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.869724
22349,1.100213,1.0,4.0,0.0,0.0,775636.0,13.379729,40.199772,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.044075
22350,1.428571,3.0,5.0,0.0,0.0,955003.0,14.464353,49.689220,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.268529
22351,1.128009,1.0,5.0,0.0,0.0,1248869.0,9.019361,49.112885,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.968928
22352,1.160347,5.0,0.0,0.0,0.0,933565.0,12.673141,40.344906,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.395274

In [44]:
final_model = finalize_model(stack_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(stack_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.0,6.0,0.0,0.0,6020446.0,7.432174,13.474891,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.277793
1,1.146008,1.0,6.0,0.0,0.0,1251881.0,8.466539,13.172247,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.855207
2,1.428571,1.0,6.0,0.0,0.0,956024.0,14.325895,11.486553,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.126771
3,1.146008,1.0,1.0,0.0,0.0,1251881.0,8.466539,14.171875,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.317615
4,1.104387,1.0,2.0,0.0,2.0,772718.0,12.460044,34.941666,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.270732

# 여자

In [46]:
female_data = female_dataset.sample(frac=0.9, random_state=786) 
female_data_unseen = female_dataset.drop(female_data.index) 

female_data.reset_index(drop=True, inplace=True) 
female_data_unseen.reset_index(drop=True, inplace=True) 

print('Female Data for Modeling: ' + str(female_data.shape)) 
print('Unseen Data For Predictions: ' + str(female_data_unseen.shape))

Female Data for Modeling: (22353, 15)
Unseen Data For Predictions: (2484, 15)

In [47]:
# s = setup(male_data, target = 'frequency', session_id=123)
s = setup(female_data, target = 'frequency', session_id=123)

In [48]:
best_model_5 = compare_models(sort='RMSE', n_select = 5)

final_model = finalize_model(best_model_5[0])
prediction = predict_model(final_model, data=female_data_unseen)
prediction.head()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.0,6.0,0.0,0.0,5928150.0,10.649039,13.474891,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.120591
1,1.161977,1.0,6.0,0.0,0.0,1256489.0,12.375118,13.172247,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.881850
2,1.676292,1.0,6.0,0.0,0.0,956701.0,23.026421,11.486553,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.401064
3,1.161217,1.0,1.0,0.0,0.0,1256489.0,12.375118,14.171875,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.410760
4,0.963691,1.0,2.0,0.0,2.0,762617.0,18.053362,34.941666,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.199781

In [72]:
tuned_top5 = [tune_model(i, optimize = 'RMSE', n_iter=10) for i in best_model_5]

final_model = finalize_model(tuned_top5[0])
prediction = predict_model(final_model, data=female_data_unseen)
prediction.head()

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 4 candidates, totalling 40 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.0,6.0,0.0,0.0,5928150.0,10.649039,13.474891,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.120591
1,1.161977,1.0,6.0,0.0,0.0,1256489.0,12.375118,13.172247,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.881850
2,1.676292,1.0,6.0,0.0,0.0,956701.0,23.026421,11.486553,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.401064
3,1.161217,1.0,1.0,0.0,0.0,1256489.0,12.375118,14.171875,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.410760
4,0.963691,1.0,2.0,0.0,2.0,762617.0,18.053362,34.941666,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.199781

In [51]:
# blender_male = blend_models(estimator_list=best_model_5, optimize = 'RMSE')
blender_female = blend_models(estimator_list=best_model_5, optimize = 'RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [52]:
# predict_model(blender_male)
predict_model(blender_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,11.0,4.0,0.0,0.0,1342778.0,19.652466,20.855356,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.862788
15648,1.616119,3.0,3.0,0.0,0.0,1777955.0,16.048269,193.389267,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.693217
15649,0.641425,12.0,2.0,0.0,0.0,758997.0,12.481868,48.208332,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.741762
15650,2.139935,2.0,0.0,0.0,0.0,1643272.0,15.142898,22.597301,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.364885
15651,1.459372,2.0,6.0,0.0,0.0,939536.0,19.553162,74.467484,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.218825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,12.0,4.0,0.0,0.0,1648769.0,15.472878,37.080593,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,1.943093
22349,0.972281,1.0,4.0,0.0,0.0,765109.0,19.142370,40.199772,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.921753
22350,1.715368,3.0,5.0,0.0,0.0,955743.0,23.193159,49.689220,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.519204
22351,1.140044,1.0,5.0,0.0,0.0,1256076.0,12.991810,49.112885,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,1.014948
22352,1.459372,5.0,0.0,0.0,0.0,939576.0,19.100424,40.344906,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.702337

In [53]:
# final_model = finalize_model(blender_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(blender_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.0,6.0,0.0,0.0,5928150.0,10.649039,13.474891,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.295031
1,1.161977,1.0,6.0,0.0,0.0,1256489.0,12.375118,13.172247,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.716722
2,1.676292,1.0,6.0,0.0,0.0,956701.0,23.026421,11.486553,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.821674
3,1.161217,1.0,1.0,0.0,0.0,1256489.0,12.375118,14.171875,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.340017
4,0.963691,1.0,2.0,0.0,2.0,762617.0,18.053362,34.941666,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.353642

In [307]:
# blender_male = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')
blender_female = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')

In [308]:
# predict_model(blender_male)
predict_model(blender_female)

,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,...,mm_9,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,frequency,Label
0,1342778.0,19.652466,0.005236,37.764187,40.299999,14.460714,1025.527954,43.500000,4.544643,0.000175,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,1.814936
1,1777955.0,16.048269,0.008195,51.529297,22.314285,11.400000,1031.750000,43.200001,10.050000,9.578571,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,1.673897
2,758997.0,12.481868,0.005008,56.270832,35.599998,13.800000,1029.699951,39.900002,0.466667,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0.825771
3,1643272.0,15.142898,0.006615,39.336517,29.625000,15.510257,1026.699951,40.599998,-0.141026,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2.317470
4,939536.0,19.553162,0.006350,61.500000,38.208332,12.543333,1030.219971,42.799999,0.250000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2,1.102619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,1648769.0,15.472878,0.004684,45.098373,34.444614,4.948718,1021.285706,40.900002,1.558974,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1.988321
6702,765109.0,19.142370,0.012651,113.920456,27.151922,9.938666,972.428589,43.500000,-4.272000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1.097241
6703,955743.0,23.193159,0.006704,43.572918,24.610483,5.841096,1015.053833,44.400002,5.830137,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,1.506615
6704,1256076.0,12.991810,0.011172,81.419273,20.200001,15.600000,1024.750000,40.500000,0.733333,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1.044449
6705,939576.0,19.100424,0.004843,96.145836,34.645454,14.456667,1006.973328,42.400002,17.103333,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.697599

In [309]:
# final_model = finalize_model(blender_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(blender_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,total_pop,elderly_ratio,so2,pm10,rhm_min_avg_dif,min_max_Ta,avg_ps,avg_age,avg_ta,sum_gsr,sum_rn,avg_rhm,frequency,Label
0,경기,1,6,5928150.0,10.649039,0.009216,91.567357,25.065517,9.245283,1024.875000,37.7,-3.962264,0.000000,0.037736,73.827586,5,3.851076
1,대구,1,6,1256489.0,12.375118,0.009544,62.871377,6.000000,9.333333,1022.900000,40.0,0.200000,0.000000,0.166667,54.000000,0,0.955026
2,전남,1,6,956701.0,23.026421,0.010387,60.954167,16.306250,6.673973,1024.681481,44.3,2.398630,0.628219,0.297297,73.562500,6,1.387961
3,대구,1,1,1256489.0,12.375118,0.006578,59.842754,21.300000,6.766667,1020.750000,40.0,-0.566667,0.000000,0.500000,56.000000,1,1.286429
4,강원,1,2,762617.0,18.053361,0.012346,73.483333,16.859664,8.512676,1024.880000,42.4,-8.506944,0.000000,0.000000,62.588235,2,1.148405

In [54]:
# bagging_male = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)
bagging_female = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [55]:
# predict_model(bagging_male)
predict_model(bagging_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,11.0,4.0,0.0,0.0,1342778.0,19.652466,20.855356,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.772529
15648,1.616119,3.0,3.0,0.0,0.0,1777955.0,16.048269,193.389267,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.681809
15649,0.641425,12.0,2.0,0.0,0.0,758997.0,12.481868,48.208332,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.715802
15650,2.139935,2.0,0.0,0.0,0.0,1643272.0,15.142898,22.597301,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.392534
15651,1.459372,2.0,6.0,0.0,0.0,939536.0,19.553162,74.467484,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.151627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,12.0,4.0,0.0,0.0,1648769.0,15.472878,37.080593,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,1.903790
22349,0.972281,1.0,4.0,0.0,0.0,765109.0,19.142370,40.199772,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.914786
22350,1.715368,3.0,5.0,0.0,0.0,955743.0,23.193159,49.689220,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.520912
22351,1.140044,1.0,5.0,0.0,0.0,1256076.0,12.991810,49.112885,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.983821
22352,1.459372,5.0,0.0,0.0,0.0,939576.0,19.100424,40.344906,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.720344

In [56]:
# final_model = finalize_model(bagging_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(bagging_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.0,6.0,0.0,0.0,5928150.0,10.649039,13.474891,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.147641
1,1.161977,1.0,6.0,0.0,0.0,1256489.0,12.375118,13.172247,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.885915
2,1.676292,1.0,6.0,0.0,0.0,956701.0,23.026421,11.486553,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.400346
3,1.161217,1.0,1.0,0.0,0.0,1256489.0,12.375118,14.171875,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.421549
4,0.963691,1.0,2.0,0.0,2.0,762617.0,18.053362,34.941666,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.190721

In [73]:
# bagging_male = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)
bagging_female = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [74]:
# predict_model(bagging_male)
predict_model(bagging_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,11.0,4.0,0.0,0.0,1342778.0,19.652466,20.855356,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.772529
15648,1.616119,3.0,3.0,0.0,0.0,1777955.0,16.048269,193.389267,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.681809
15649,0.641425,12.0,2.0,0.0,0.0,758997.0,12.481868,48.208332,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.715802
15650,2.139935,2.0,0.0,0.0,0.0,1643272.0,15.142898,22.597301,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.392534
15651,1.459372,2.0,6.0,0.0,0.0,939536.0,19.553162,74.467484,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.151627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,12.0,4.0,0.0,0.0,1648769.0,15.472878,37.080593,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,1.903790
22349,0.972281,1.0,4.0,0.0,0.0,765109.0,19.142370,40.199772,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.914786
22350,1.715368,3.0,5.0,0.0,0.0,955743.0,23.193159,49.689220,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.520912
22351,1.140044,1.0,5.0,0.0,0.0,1256076.0,12.991810,49.112885,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.983821
22352,1.459372,5.0,0.0,0.0,0.0,939576.0,19.100424,40.344906,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.720344

In [75]:
# final_model = finalize_model(bagging_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(bagging_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.0,6.0,0.0,0.0,5928150.0,10.649039,13.474891,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.147641
1,1.161977,1.0,6.0,0.0,0.0,1256489.0,12.375118,13.172247,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.885915
2,1.676292,1.0,6.0,0.0,0.0,956701.0,23.026421,11.486553,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.400346
3,1.161217,1.0,1.0,0.0,0.0,1256489.0,12.375118,14.171875,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.421549
4,0.963691,1.0,2.0,0.0,2.0,762617.0,18.053362,34.941666,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.190721

In [60]:
# boosting_male = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)
boosting_female = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [61]:
# predict_model(boosting_male)
predict_model(boosting_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,11.0,4.0,0.0,0.0,1342778.0,19.652466,20.855356,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.802541
15648,1.616119,3.0,3.0,0.0,0.0,1777955.0,16.048269,193.389267,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.698186
15649,0.641425,12.0,2.0,0.0,0.0,758997.0,12.481868,48.208332,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.739253
15650,2.139935,2.0,0.0,0.0,0.0,1643272.0,15.142898,22.597301,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.419218
15651,1.459372,2.0,6.0,0.0,0.0,939536.0,19.553162,74.467484,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.161840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,12.0,4.0,0.0,0.0,1648769.0,15.472878,37.080593,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,1.939865
22349,0.972281,1.0,4.0,0.0,0.0,765109.0,19.142370,40.199772,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.910804
22350,1.715368,3.0,5.0,0.0,0.0,955743.0,23.193159,49.689220,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.513157
22351,1.140044,1.0,5.0,0.0,0.0,1256076.0,12.991810,49.112885,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.993864
22352,1.459372,5.0,0.0,0.0,0.0,939576.0,19.100424,40.344906,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.748406

In [62]:
# final_model = finalize_model(boosting_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(boosting_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.0,6.0,0.0,0.0,5928150.0,10.649039,13.474891,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.120591
1,1.161977,1.0,6.0,0.0,0.0,1256489.0,12.375118,13.172247,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.881850
2,1.676292,1.0,6.0,0.0,0.0,956701.0,23.026421,11.486553,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.401064
3,1.161217,1.0,1.0,0.0,0.0,1256489.0,12.375118,14.171875,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.410760
4,0.963691,1.0,2.0,0.0,2.0,762617.0,18.053362,34.941666,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.199781

In [76]:
# boosting_male = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)
boosting_female = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [77]:
# predict_model(boosting_male)
predict_model(boosting_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,11.0,4.0,0.0,0.0,1342778.0,19.652466,20.855356,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.802541
15648,1.616119,3.0,3.0,0.0,0.0,1777955.0,16.048269,193.389267,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.698186
15649,0.641425,12.0,2.0,0.0,0.0,758997.0,12.481868,48.208332,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.739253
15650,2.139935,2.0,0.0,0.0,0.0,1643272.0,15.142898,22.597301,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.419218
15651,1.459372,2.0,6.0,0.0,0.0,939536.0,19.553162,74.467484,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.161840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,12.0,4.0,0.0,0.0,1648769.0,15.472878,37.080593,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,1.939865
22349,0.972281,1.0,4.0,0.0,0.0,765109.0,19.142370,40.199772,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.910804
22350,1.715368,3.0,5.0,0.0,0.0,955743.0,23.193159,49.689220,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.513157
22351,1.140044,1.0,5.0,0.0,0.0,1256076.0,12.991810,49.112885,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.993864
22352,1.459372,5.0,0.0,0.0,0.0,939576.0,19.100424,40.344906,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.748406

In [78]:
# final_model = finalize_model(boosting_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(boosting_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.0,6.0,0.0,0.0,5928150.0,10.649039,13.474891,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.120591
1,1.161977,1.0,6.0,0.0,0.0,1256489.0,12.375118,13.172247,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.881850
2,1.676292,1.0,6.0,0.0,0.0,956701.0,23.026421,11.486553,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.401064
3,1.161217,1.0,1.0,0.0,0.0,1256489.0,12.375118,14.171875,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.410760
4,0.963691,1.0,2.0,0.0,2.0,762617.0,18.053362,34.941666,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.199781

In [66]:
# stack_male = stack_models(best_model_5)
stack_female = stack_models(best_model_5)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [67]:
# predict_model(stack_male)
predict_model(stack_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,11.0,4.0,0.0,0.0,1342778.0,19.652466,20.855356,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,2.163911
15648,1.616119,3.0,3.0,0.0,0.0,1777955.0,16.048269,193.389267,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.646299
15649,0.641425,12.0,2.0,0.0,0.0,758997.0,12.481868,48.208332,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.748589
15650,2.139935,2.0,0.0,0.0,0.0,1643272.0,15.142898,22.597301,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.182794
15651,1.459372,2.0,6.0,0.0,0.0,939536.0,19.553162,74.467484,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.486527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,12.0,4.0,0.0,0.0,1648769.0,15.472878,37.080593,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,2.013298
22349,0.972281,1.0,4.0,0.0,0.0,765109.0,19.142370,40.199772,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.946103
22350,1.715368,3.0,5.0,0.0,0.0,955743.0,23.193159,49.689220,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.573240
22351,1.140044,1.0,5.0,0.0,0.0,1256076.0,12.991810,49.112885,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,1.118096
22352,1.459372,5.0,0.0,0.0,0.0,939576.0,19.100424,40.344906,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.507780

In [68]:
# final_model = finalize_model(stack_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(stack_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.0,6.0,0.0,0.0,5928150.0,10.649039,13.474891,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,5.120562
1,1.161977,1.0,6.0,0.0,0.0,1256489.0,12.375118,13.172247,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.021453
2,1.676292,1.0,6.0,0.0,0.0,956701.0,23.026421,11.486553,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,3.721302
3,1.161217,1.0,1.0,0.0,0.0,1256489.0,12.375118,14.171875,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.048622
4,0.963691,1.0,2.0,0.0,2.0,762617.0,18.053362,34.941666,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,2.005435

In [79]:
# stack_male = stack_models(tuned_top5)
stack_female = stack_models(tuned_top5)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [80]:
# predict_model(stack_male)
predict_model(stack_female)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,11.0,4.0,0.0,0.0,1342778.0,19.652466,20.855356,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.563194
15648,1.616119,3.0,3.0,0.0,0.0,1777955.0,16.048269,193.389267,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.916072
15649,0.641425,12.0,2.0,0.0,0.0,758997.0,12.481868,48.208332,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.848860
15650,2.139935,2.0,0.0,0.0,0.0,1643272.0,15.142898,22.597301,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.342440
15651,1.459372,2.0,6.0,0.0,0.0,939536.0,19.553162,74.467484,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.009028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,12.0,4.0,0.0,0.0,1648769.0,15.472878,37.080593,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,1.729012
22349,0.972281,1.0,4.0,0.0,0.0,765109.0,19.142370,40.199772,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,1.266512
22350,1.715368,3.0,5.0,0.0,0.0,955743.0,23.193159,49.689220,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.373443
22351,1.140044,1.0,5.0,0.0,0.0,1256076.0,12.991810,49.112885,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,1.118319
22352,1.459372,5.0,0.0,0.0,0.0,939576.0,19.100424,40.344906,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.398849

In [81]:
# final_model = finalize_model(stack_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(stack_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_31b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.0,6.0,0.0,0.0,5928150.0,10.649039,13.474891,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,3.419359
1,1.161977,1.0,6.0,0.0,0.0,1256489.0,12.375118,13.172247,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.915557
2,1.676292,1.0,6.0,0.0,0.0,956701.0,23.026421,11.486553,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.459102
3,1.161217,1.0,1.0,0.0,0.0,1256489.0,12.375118,14.171875,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,0.987596
4,0.963691,1.0,2.0,0.0,2.0,762617.0,18.053362,34.941666,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.154420