In [1]:
import pandas as pd

In [2]:
path = 'Z:/공모전/날씨빅데이터콘테스트(공유)/data/edited_data/airPressure_edited_0714.csv'

## air_pressure

- 기압 상한: 1080
- 기압 하한: 500

- 범위 밖의 값을 이상치로 판단
- 이상치 값만 해당 날짜의 전체 평균으로 대체

- min,max 이상치 대체
- avg 이상치 : min, max 로 다시 구해서 넣기

In [5]:
df = pd.read_csv(path, encoding='cp949', index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31586 entries, 0 to 31585
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   area    31586 non-null  object
 1   tma     31586 non-null  object
 2   avg_ps  31586 non-null  float64
 3   max_ps  31586 non-null  float64
 4   min_ps  31586 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.4+ MB

In [6]:
df.describe()

             avg_ps        max_ps        min_ps
count  31586.000000  31586.000000  31586.000000
mean     994.961452    999.235799    962.013139
std       89.481852     80.166824    135.077292
min      -99.800000    -99.800000    -99.800000
25%     1007.500000   1009.600000    994.921569
50%     1014.900000   1017.491458   1009.600000
75%     1021.893750   1024.528095   1017.833333
max     1038.306250   1040.200000   1036.728571

In [62]:
# min, max 이상치 데이터 처리
df.loc[df.max_ps < 500, 'max_ps'] = 500
df.loc[df.min_ps < 500, 'min_ps'] = 500

df.loc[df.max_ps > 1080, 'max_ps'] = 1080
df.loc[df.min_ps > 1080, 'min_ps'] = 1080

In [68]:
# avg 이상치 데이터 처리
avg_ps = (df.loc[(df.avg_ps < 500) | (df.avg_ps > 1080), 'max_ps'] + df.loc[(df.avg_ps < 500) | (df.avg_ps > 1080), 'min_ps']) / 2
df.loc[(df.avg_ps < 500) | (df.avg_ps > 1080), 'avg_ps'] = avg_ps

In [71]:
df.describe()

             avg_ps        max_ps        min_ps
count  31586.000000  31586.000000  31586.000000
mean     997.272627   1000.258755    966.059122
std       72.666703     70.607755    114.196870
min      500.000000    500.000000    500.000000
25%     1007.500000   1009.600000    994.921569
50%     1014.900000   1017.491458   1009.600000
75%     1021.893750   1024.528095   1017.833333
max     1038.306250   1040.200000   1036.728571

In [72]:
df.to_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/edited_data/airPressure_edited_0721.csv', encoding='cp949', index=False)