In [1]:
import numpy as np
import pandas as pd

from pycaret.regression import *

# 변수셋3 모델별 비교

In [2]:
male_df = pd.read_csv('./hospital_male_0802_test.csv', encoding='cp949')
male_df = male_df.sort_values(['tma', 'area']).reset_index(drop=True)
male_df.mm = male_df.mm.astype('int64')
# male_df.to_csv('hospital_male_0802_test2.csv', encoding='cp949', index=False)
male_df = male_df[~male_df['tma'].astype(str).str.contains('2011-|2016-')].reset_index(drop=True)
male_df.head()

,area,tma,yyyy,mm,dd,weekday,sum_gsr,sum_rn,avg_ps,max_ps,...,avg_hum,diff_hum,min_temp,max_temp,avg_temp,diff_temp,pm10_3b,pm10_7b,pm10_31b,frequency
0,강원,2012-01-01,2012,1,1,6,0.000000,0.173611,1023.886667,1026.533333,...,58.333333,65.0,-7.3,5.0,-2.344048,12.3,87.662500,30.158333,15.678261,3.0
1,경기,2012-01-01,2012,1,1,6,0.000000,0.037736,1024.875000,1027.225000,...,50.733333,27.0,-6.9,1.0,-3.010000,7.9,106.851851,28.537404,13.474891,4.0
2,경남,2012-01-01,2012,1,1,6,0.000000,0.065789,1022.950000,1024.900000,...,44.916667,47.0,-2.9,7.0,1.642857,9.9,72.989269,26.719907,16.193461,2.0
3,경북,2012-01-01,2012,1,1,6,0.000702,0.721053,1023.268000,1025.488000,...,52.377778,70.0,-5.9,6.1,0.075556,12.0,88.189236,25.336806,12.743785,6.0
4,광주,2012-01-01,2012,1,1,6,0.000000,0.700000,1025.250000,1027.250000,...,75.833333,15.0,-0.9,3.0,0.383333,3.9,62.750000,18.958333,8.566667,0.0

In [3]:
female_df = pd.read_csv('./hospital_female_0802_test.csv', encoding='cp949')
female_df = female_df.sort_values(['tma', 'area']).reset_index(drop=True)
female_df.mm = female_df.mm.astype('int64')
# female_df.to_csv('hospital_female_0802_test2.csv', encoding='cp949', index=False)
female_df = female_df[~female_df['tma'].astype(str).str.contains('2011-|2016-')].reset_index(drop=True)
female_df.head()

,area,tma,yyyy,mm,dd,weekday,sum_gsr,sum_rn,avg_ps,max_ps,...,avg_hum,diff_hum,min_temp,max_temp,avg_temp,diff_temp,pm10_3b,pm10_7b,pm10_31b,frequency
0,강원,2012-01-01,2012,1,1,6,0.000000,0.173611,1023.886667,1026.533333,...,58.333333,65.0,-7.3,5.0,-2.344048,12.3,87.662500,30.158333,15.678261,3.0
1,경기,2012-01-01,2012,1,1,6,0.000000,0.037736,1024.875000,1027.225000,...,50.733333,27.0,-6.9,1.0,-3.010000,7.9,106.851851,28.537404,13.474891,5.0
2,경남,2012-01-01,2012,1,1,6,0.000000,0.065789,1022.950000,1024.900000,...,44.916667,47.0,-2.9,7.0,1.642857,9.9,72.989269,26.719907,16.193461,1.0
3,경북,2012-01-01,2012,1,1,6,0.000702,0.721053,1023.268000,1025.488000,...,52.377778,70.0,-5.9,6.1,0.075556,12.0,88.189236,25.336806,12.743785,1.0
4,광주,2012-01-01,2012,1,1,6,0.000000,0.700000,1025.250000,1027.250000,...,75.833333,15.0,-0.9,3.0,0.383333,3.9,62.750000,18.958333,8.566667,2.0

In [4]:
cols_1 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_3b','diff_hum','diff_temp','avg_ps',
          'o3','avg_age','min_max_ps', 'avg_hum','frequency']

cols_2 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_7b','diff_hum','diff_temp','avg_ps',
          'o3','avg_age','min_max_ps', 'avg_hum','frequency']

cols_3 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_31b','diff_hum','diff_temp','avg_ps',
          'o3','avg_age','min_max_ps', 'avg_hum','frequency']

male_dataset = male_df[cols_1]
male_dataset.head(3)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency
0,강원,1,6,0,0,772718,12.460044,87.662500,65.0,12.3,1023.886667,0.027750,39.4,6.34,58.333333,3.0
1,경기,1,6,0,0,6020446,7.432174,106.851851,27.0,7.9,1024.875000,0.023165,36.1,5.50,50.733333,4.0
2,경남,1,6,0,0,1665308,9.179443,72.989269,47.0,9.9,1022.950000,0.027277,37.4,5.20,44.916667,2.0

In [5]:
cols_1 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_3b','diff_hum','diff_temp','avg_ps',
          'avg_age','min_max_ps', 'sum_rn','frequency']

cols_2 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_7b','diff_hum','diff_temp','avg_ps',
          'avg_age','min_max_ps', 'sum_rn','frequency']

cols_3 = ['area','mm','weekday','heat_wave','cold_wave','total_pop','elderly_ratio',
          'pm10_31b','diff_hum','diff_temp','avg_ps',
          'avg_age','min_max_ps', 'sum_rn','frequency']

female_dataset = female_df[cols_1]
female_dataset.head(3)

,area,mm,weekday,heat_wave,cold_wave,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency
0,강원,1,6,0,0,762617,18.053361,87.662500,65.0,12.3,1023.886667,42.4,6.34,0.173611,3.0
1,경기,1,6,0,0,5928150,10.649039,106.851851,27.0,7.9,1024.875000,37.7,5.50,0.037736,5.0
2,경남,1,6,0,0,1644251,15.076105,72.989269,47.0,9.9,1022.950000,40.5,5.20,0.065789,1.0

# 남자

In [6]:
male_data = male_dataset.sample(frac=0.9, random_state=786) 
male_data_unseen = male_dataset.drop(male_data.index) 

male_data.reset_index(drop=True, inplace=True) 
male_data_unseen.reset_index(drop=True, inplace=True) 

print('Data for Modeling: ' + str(male_data.shape)) 
print('Unseen Data For Predictions: ' + str(male_data_unseen.shape))

Data for Modeling: (22353, 16)
Unseen Data For Predictions: (2484, 16)

In [7]:
s = setup(male_data, target = 'frequency', session_id=123, categorical_features=['area','mm','weekday','heat_wave',
                                                                                'cold_wave'])
# s = setup(female_data, target = 'frequency', session_id=123)

#### best model

In [8]:
best_model_5 = compare_models(sort='RMSE', n_select = 5)

final_model = finalize_model(best_model_5[0])
prediction = predict_model(final_model, data=male_data_unseen)
prediction.head()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.350813
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.922696
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.182128
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.267704
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.238913

#### tuned_model

In [9]:
tuned_top5 = [tune_model(i, optimize = 'RMSE', n_iter=10) for i in best_model_5]

final_model = finalize_model(tuned_top5[0])
prediction = predict_model(final_model, data=male_data_unseen)
prediction.head()

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 4 candidates, totalling 40 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.350813
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.922696
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.182128
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.267704
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.238913

#### blender(best_models)

In [10]:
blender_male = blend_models(estimator_list=best_model_5, optimize = 'RMSE')
# blender_female = blend_models(estimator_list=best_model_5, optimize = 'RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [11]:
predict_model(blender_male)
# predict_model(blender_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,1.471139,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1354791.0,...,39.912247,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.891646
15648,1.875928,1.474036,1.450269,1.0,0.0,0.0,1.0,0.0,0.0,1737884.0,...,42.655411,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,1.920128
15649,0.713808,1.454616,1.535857,1.0,0.0,0.0,1.0,0.0,0.0,759778.0,...,37.537498,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.795704
15650,2.001076,1.445351,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,1664550.0,...,33.353134,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.214166
15651,1.160347,1.445351,1.162539,1.0,0.0,0.0,1.0,0.0,0.0,932775.0,...,57.548309,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.952141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,1.454616,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1670545.0,...,30.896320,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.947279
22349,1.100213,1.487952,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,775636.0,...,38.709057,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.097416
22350,1.428571,1.474036,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,955003.0,...,38.777653,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.238830
22351,1.128009,1.487952,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,1248869.0,...,39.865944,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.926156
22352,1.160347,1.367560,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,933565.0,...,44.020832,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.386835

In [12]:
final_model = finalize_model(blender_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(blender_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.404793
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.967524
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.231458
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.247695
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.211452

#### beldner(tuned models)

In [13]:
blender_male = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')
# blender_female = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [14]:
predict_model(blender_male)
# predict_model(blender_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,1.471139,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1354791.0,...,39.912247,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.885293
15648,1.875928,1.474036,1.450269,1.0,0.0,0.0,1.0,0.0,0.0,1737884.0,...,42.655411,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,1.924523
15649,0.713808,1.454616,1.535857,1.0,0.0,0.0,1.0,0.0,0.0,759778.0,...,37.537498,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.813528
15650,2.001076,1.445351,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,1664550.0,...,33.353134,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.274301
15651,1.160347,1.445351,1.162539,1.0,0.0,0.0,1.0,0.0,0.0,932775.0,...,57.548309,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.899182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,1.454616,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1670545.0,...,30.896320,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.939048
22349,1.100213,1.487952,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,775636.0,...,38.709057,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.091152
22350,1.428571,1.474036,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,955003.0,...,38.777653,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.187975
22351,1.128009,1.487952,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,1248869.0,...,39.865944,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.873097
22352,1.160347,1.367560,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,933565.0,...,44.020832,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.450715

In [15]:
final_model = finalize_model(blender_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(blender_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.349896
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.912827
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.176698
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.267247
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.234346

#### bagging

In [16]:
bagging_male = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)
# bagging_female = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [17]:
predict_model(bagging_male)
# predict_model(bagging_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,1.471139,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1354791.0,...,39.912247,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.871642
15648,1.875928,1.474036,1.450269,1.0,0.0,0.0,1.0,0.0,0.0,1737884.0,...,42.655411,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,1.937735
15649,0.713808,1.454616,1.535857,1.0,0.0,0.0,1.0,0.0,0.0,759778.0,...,37.537498,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.803418
15650,2.001076,1.445351,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,1664550.0,...,33.353134,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.243233
15651,1.160347,1.445351,1.162539,1.0,0.0,0.0,1.0,0.0,0.0,932775.0,...,57.548309,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.905204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,1.454616,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1670545.0,...,30.896320,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.911757
22349,1.100213,1.487952,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,775636.0,...,38.709057,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.087096
22350,1.428571,1.474036,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,955003.0,...,38.777653,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.199350
22351,1.128009,1.487952,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,1248869.0,...,39.865944,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.871479
22352,1.160347,1.367560,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,933565.0,...,44.020832,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.441846

In [18]:
final_model = finalize_model(bagging_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(bagging_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.350813
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.922696
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.182128
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.267704
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.238913

In [19]:
bagging_male = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)
# bagging_female = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [20]:
predict_model(bagging_male)
# predict_model(bagging_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,1.471139,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1354791.0,...,39.912247,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.871642
15648,1.875928,1.474036,1.450269,1.0,0.0,0.0,1.0,0.0,0.0,1737884.0,...,42.655411,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,1.937735
15649,0.713808,1.454616,1.535857,1.0,0.0,0.0,1.0,0.0,0.0,759778.0,...,37.537498,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.803418
15650,2.001076,1.445351,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,1664550.0,...,33.353134,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.243233
15651,1.160347,1.445351,1.162539,1.0,0.0,0.0,1.0,0.0,0.0,932775.0,...,57.548309,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.905204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,1.454616,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1670545.0,...,30.896320,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.911757
22349,1.100213,1.487952,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,775636.0,...,38.709057,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.087096
22350,1.428571,1.474036,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,955003.0,...,38.777653,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.199350
22351,1.128009,1.487952,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,1248869.0,...,39.865944,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.871479
22352,1.160347,1.367560,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,933565.0,...,44.020832,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.441846

In [21]:
final_model = finalize_model(bagging_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(bagging_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.350813
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.922696
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.182128
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.267704
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.238913

In [22]:
boosting_male = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)
# boosting_female = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [23]:
predict_model(boosting_male)
# predict_model(boosting_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,1.471139,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1354791.0,...,39.912247,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.871642
15648,1.875928,1.474036,1.450269,1.0,0.0,0.0,1.0,0.0,0.0,1737884.0,...,42.655411,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,1.937735
15649,0.713808,1.454616,1.535857,1.0,0.0,0.0,1.0,0.0,0.0,759778.0,...,37.537498,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.803418
15650,2.001076,1.445351,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,1664550.0,...,33.353134,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.243233
15651,1.160347,1.445351,1.162539,1.0,0.0,0.0,1.0,0.0,0.0,932775.0,...,57.548309,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.905204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,1.454616,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1670545.0,...,30.896320,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.911757
22349,1.100213,1.487952,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,775636.0,...,38.709057,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.087096
22350,1.428571,1.474036,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,955003.0,...,38.777653,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.199350
22351,1.128009,1.487952,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,1248869.0,...,39.865944,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.871479
22352,1.160347,1.367560,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,933565.0,...,44.020832,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.441846

In [24]:
final_model = finalize_model(boosting_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(boosting_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.350813
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.922696
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.182128
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.267704
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.238913

In [25]:
boosting_male = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)
# boosting_female = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [26]:
predict_model(boosting_male)
# predict_model(boosting_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,1.471139,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1354791.0,...,39.912247,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.871642
15648,1.875928,1.474036,1.450269,1.0,0.0,0.0,1.0,0.0,0.0,1737884.0,...,42.655411,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,1.937735
15649,0.713808,1.454616,1.535857,1.0,0.0,0.0,1.0,0.0,0.0,759778.0,...,37.537498,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.803418
15650,2.001076,1.445351,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,1664550.0,...,33.353134,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.243233
15651,1.160347,1.445351,1.162539,1.0,0.0,0.0,1.0,0.0,0.0,932775.0,...,57.548309,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.905204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,1.454616,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1670545.0,...,30.896320,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.911757
22349,1.100213,1.487952,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,775636.0,...,38.709057,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.087096
22350,1.428571,1.474036,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,955003.0,...,38.777653,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.199350
22351,1.128009,1.487952,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,1248869.0,...,39.865944,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.871479
22352,1.160347,1.367560,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,933565.0,...,44.020832,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.441846

In [27]:
final_model = finalize_model(boosting_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(boosting_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.350813
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.922696
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.182128
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.267704
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.238913

In [28]:
stack_male = stack_models(best_model_5)
# stack_female = stack_models(best_model_5)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [29]:
predict_model(stack_male)
# predict_model(stack_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,1.471139,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1354791.0,...,39.912247,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.892182
15648,1.875928,1.474036,1.450269,1.0,0.0,0.0,1.0,0.0,0.0,1737884.0,...,42.655411,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,1.924717
15649,0.713808,1.454616,1.535857,1.0,0.0,0.0,1.0,0.0,0.0,759778.0,...,37.537498,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.827061
15650,2.001076,1.445351,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,1664550.0,...,33.353134,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.281906
15651,1.160347,1.445351,1.162539,1.0,0.0,0.0,1.0,0.0,0.0,932775.0,...,57.548309,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.897698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,1.454616,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1670545.0,...,30.896320,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.952176
22349,1.100213,1.487952,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,775636.0,...,38.709057,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.103512
22350,1.428571,1.474036,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,955003.0,...,38.777653,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.183016
22351,1.128009,1.487952,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,1248869.0,...,39.865944,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.881326
22352,1.160347,1.367560,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,933565.0,...,44.020832,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.439052

In [30]:
final_model = finalize_model(stack_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(stack_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.358147
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.920386
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.179053
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.272494
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.289614

In [31]:
stack_male = stack_models(tuned_top5)
# stack_female = stack_models(tuned_top5)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [32]:
predict_model(stack_male)
# predict_model(stack_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
15647,1.927313,1.471139,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1354791.0,...,39.912247,77.0,19.35,1025.527954,0.032511,39.900002,4.250000,56.806564,0.0,1.892559
15648,1.875928,1.474036,1.450269,1.0,0.0,0.0,1.0,0.0,0.0,1737884.0,...,42.655411,45.0,10.00,1031.750000,0.046667,40.700001,5.040000,40.337837,4.0,1.924392
15649,0.713808,1.454616,1.535857,1.0,0.0,0.0,1.0,0.0,0.0,759778.0,...,37.537498,33.0,12.20,1029.699951,0.013600,37.900002,6.493333,75.641891,2.0,0.827520
15650,2.001076,1.445351,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,1664550.0,...,33.353134,74.0,19.90,1026.699951,0.029595,37.400002,5.792857,45.770561,2.0,2.282810
15651,1.160347,1.445351,1.162539,1.0,0.0,0.0,1.0,0.0,0.0,932775.0,...,57.548309,63.0,14.90,1030.219971,0.045033,39.500000,4.280000,60.654545,1.0,0.897497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.001076,1.454616,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,1670545.0,...,30.896320,55.0,13.00,1021.285706,0.013123,37.799999,11.985714,74.044914,2.0,1.953000
22349,1.100213,1.487952,1.411290,1.0,0.0,0.0,1.0,0.0,0.0,775636.0,...,38.709057,71.0,17.10,972.428589,0.020946,40.400002,145.024994,63.432899,1.0,1.103819
22350,1.428571,1.474036,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,955003.0,...,38.777653,66.0,7.70,1015.053833,0.046662,40.400002,8.677778,57.789627,3.0,1.182666
22351,1.128009,1.487952,1.170213,1.0,0.0,0.0,1.0,0.0,0.0,1248869.0,...,39.865944,31.0,12.40,1024.750000,0.021400,37.700001,4.650000,46.022728,0.0,0.881403
22352,1.160347,1.367560,1.758208,1.0,0.0,0.0,1.0,0.0,0.0,933565.0,...,44.020832,72.0,22.00,1006.973328,0.064938,39.099998,3.166667,55.453705,1.0,1.439191

In [33]:
final_model = finalize_model(stack_male)
prediction = predict_model(final_model, data=male_data_unseen)

# final_model = finalize_model(stack_female)
# prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,...,pm10_3b,diff_hum,diff_temp,avg_ps,o3,avg_age,min_max_ps,avg_hum,frequency,Label
0,4.614449,1.470276,1.155194,1.0,0.0,0.0,1.0,0.0,0.0,6020446.0,...,106.851852,27.0,7.900000,1024.875000,0.023165,36.099998,5.500000,50.733334,4.0,4.358108
1,1.146008,1.471868,1.156133,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,88.346825,32.0,3.900000,1022.900024,0.027883,37.200001,5.150000,47.000000,1.0,0.920522
2,1.428571,1.470807,1.155507,1.0,0.0,0.0,1.0,0.0,0.0,956024.0,...,64.120834,42.0,7.900000,1024.681519,0.031450,40.299999,3.721429,62.102566,3.0,1.179264
3,1.146008,1.471868,1.534002,1.0,0.0,0.0,1.0,0.0,0.0,1251881.0,...,69.968262,32.0,7.700000,1020.750000,0.022517,37.200001,5.700000,46.711864,1.0,1.272241
4,1.104387,1.471868,1.545511,1.0,0.0,0.0,0.0,1.0,0.0,772718.0,...,86.279167,70.0,18.200001,1024.880005,0.029025,39.400002,8.460000,52.270561,1.0,1.289278

# 여자

In [34]:
female_data = female_dataset.sample(frac=0.9, random_state=786) 
female_data_unseen = female_dataset.drop(female_data.index) 

female_data.reset_index(drop=True, inplace=True) 
female_data_unseen.reset_index(drop=True, inplace=True) 

print('Female Data for Modeling: ' + str(female_data.shape)) 
print('Unseen Data For Predictions: ' + str(female_data_unseen.shape))

Female Data for Modeling: (22353, 15)
Unseen Data For Predictions: (2484, 15)

In [35]:
# s = setup(male_data, target = 'frequency', session_id=123)
s = setup(female_data, target = 'frequency', session_id=123, categorical_features=['area','mm','weekday','heat_wave',
                                                                                'cold_wave'])

In [36]:
best_model_5 = compare_models(sort='RMSE', n_select = 5)

final_model = finalize_model(best_model_5[0])
prediction = predict_model(final_model, data=female_data_unseen)
prediction.head()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.126311
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.875859
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.380088
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.340670
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.147962

In [37]:
tuned_top5 = [tune_model(i, optimize = 'RMSE', n_iter=10) for i in best_model_5]

final_model = finalize_model(tuned_top5[0])
prediction = predict_model(final_model, data=female_data_unseen)
prediction.head()

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 4 candidates, totalling 40 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.125000
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.875000
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.367188
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.351562
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.117188

In [38]:
# blender_male = blend_models(estimator_list=best_model_5, optimize = 'RMSE')
blender_female = blend_models(estimator_list=best_model_5, optimize = 'RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [39]:
# predict_model(blender_male)
predict_model(blender_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,1.414197,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1342778.0,19.652466,39.912247,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.894398
15648,1.616119,1.416172,1.450717,1.0,0.0,0.0,1.0,0.0,0.0,1777955.0,16.048269,42.655411,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.657118
15649,0.641425,1.433670,1.528285,1.0,0.0,0.0,1.0,0.0,0.0,758997.0,12.481868,37.537498,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.733888
15650,2.139935,1.450245,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,1643272.0,15.142898,33.353134,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.351448
15651,1.459372,1.450245,1.083296,1.0,0.0,0.0,1.0,0.0,0.0,939536.0,19.553162,57.548309,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.188667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,1.433670,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1648769.0,15.472878,30.896320,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,2.034467
22349,0.972281,1.512048,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,765109.0,19.142370,38.709057,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.933338
22350,1.715368,1.416172,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,955743.0,23.193159,38.777653,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.532284
22351,1.140044,1.512048,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,1256076.0,12.991810,39.865944,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.991515
22352,1.459372,1.425595,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,939576.0,19.100424,44.020832,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.698021

In [40]:
# final_model = finalize_model(blender_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(blender_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.181516
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.933015
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.438835
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.303504
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.111259

In [41]:
# blender_male = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')
blender_female = blend_models(estimator_list=tuned_top5, optimize = 'RMSE')

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [42]:
# predict_model(blender_male)
predict_model(blender_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,1.414197,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1342778.0,19.652466,39.912247,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.875195
15648,1.616119,1.416172,1.450717,1.0,0.0,0.0,1.0,0.0,0.0,1777955.0,16.048269,42.655411,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.663327
15649,0.641425,1.433670,1.528285,1.0,0.0,0.0,1.0,0.0,0.0,758997.0,12.481868,37.537498,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.755345
15650,2.139935,1.450245,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,1643272.0,15.142898,33.353134,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.404816
15651,1.459372,1.450245,1.083296,1.0,0.0,0.0,1.0,0.0,0.0,939536.0,19.553162,57.548309,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.120881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,1.433670,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1648769.0,15.472878,30.896320,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,2.008234
22349,0.972281,1.512048,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,765109.0,19.142370,38.709057,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.919808
22350,1.715368,1.416172,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,955743.0,23.193159,38.777653,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.486032
22351,1.140044,1.512048,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,1256076.0,12.991810,39.865944,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.952511
22352,1.459372,1.425595,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,939576.0,19.100424,44.020832,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.759300

In [43]:
# final_model = finalize_model(blender_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(blender_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.127096
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.873632
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.380194
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.338192
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.149019

In [44]:
# bagging_male = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)
bagging_female = ensemble_model(best_model_5[0], method='Bagging', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [45]:
# predict_model(bagging_male)
predict_model(bagging_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,1.414197,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1342778.0,19.652466,39.912247,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.875632
15648,1.616119,1.416172,1.450717,1.0,0.0,0.0,1.0,0.0,0.0,1777955.0,16.048269,42.655411,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.667200
15649,0.641425,1.433670,1.528285,1.0,0.0,0.0,1.0,0.0,0.0,758997.0,12.481868,37.537498,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.756965
15650,2.139935,1.450245,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,1643272.0,15.142898,33.353134,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.407902
15651,1.459372,1.450245,1.083296,1.0,0.0,0.0,1.0,0.0,0.0,939536.0,19.553162,57.548309,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.119968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,1.433670,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1648769.0,15.472878,30.896320,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,2.010035
22349,0.972281,1.512048,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,765109.0,19.142370,38.709057,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.922588
22350,1.715368,1.416172,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,955743.0,23.193159,38.777653,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.486502
22351,1.140044,1.512048,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,1256076.0,12.991810,39.865944,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.953625
22352,1.459372,1.425595,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,939576.0,19.100424,44.020832,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.759506

In [46]:
# final_model = finalize_model(bagging_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(bagging_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.126311
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.875859
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.380088
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.340670
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.147962

In [47]:
# bagging_male = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)
bagging_female = ensemble_model(tuned_top5[0], method='Bagging', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [48]:
# predict_model(bagging_male)
predict_model(bagging_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,1.414197,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1342778.0,19.652466,39.912247,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.875632
15648,1.616119,1.416172,1.450717,1.0,0.0,0.0,1.0,0.0,0.0,1777955.0,16.048269,42.655411,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.667200
15649,0.641425,1.433670,1.528285,1.0,0.0,0.0,1.0,0.0,0.0,758997.0,12.481868,37.537498,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.756965
15650,2.139935,1.450245,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,1643272.0,15.142898,33.353134,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.407902
15651,1.459372,1.450245,1.083296,1.0,0.0,0.0,1.0,0.0,0.0,939536.0,19.553162,57.548309,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.119968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,1.433670,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1648769.0,15.472878,30.896320,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,2.010035
22349,0.972281,1.512048,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,765109.0,19.142370,38.709057,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.922588
22350,1.715368,1.416172,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,955743.0,23.193159,38.777653,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.486502
22351,1.140044,1.512048,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,1256076.0,12.991810,39.865944,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.953625
22352,1.459372,1.425595,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,939576.0,19.100424,44.020832,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.759506

In [49]:
# final_model = finalize_model(bagging_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(bagging_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.125000
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.875000
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.367188
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.351562
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.117188

In [50]:
# boosting_male = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)
boosting_female = ensemble_model(best_model_5[0], method='Boosting', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [51]:
# predict_model(boosting_male)
predict_model(boosting_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,1.414197,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1342778.0,19.652466,39.912247,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.875632
15648,1.616119,1.416172,1.450717,1.0,0.0,0.0,1.0,0.0,0.0,1777955.0,16.048269,42.655411,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.667200
15649,0.641425,1.433670,1.528285,1.0,0.0,0.0,1.0,0.0,0.0,758997.0,12.481868,37.537498,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.756965
15650,2.139935,1.450245,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,1643272.0,15.142898,33.353134,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.407902
15651,1.459372,1.450245,1.083296,1.0,0.0,0.0,1.0,0.0,0.0,939536.0,19.553162,57.548309,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.119968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,1.433670,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1648769.0,15.472878,30.896320,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,2.010035
22349,0.972281,1.512048,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,765109.0,19.142370,38.709057,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.922588
22350,1.715368,1.416172,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,955743.0,23.193159,38.777653,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.486502
22351,1.140044,1.512048,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,1256076.0,12.991810,39.865944,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.953625
22352,1.459372,1.425595,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,939576.0,19.100424,44.020832,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.759506

In [52]:
# final_model = finalize_model(boosting_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(boosting_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.126311
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.875859
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.380088
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.340670
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.147962

In [53]:
# boosting_male = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)
boosting_female = ensemble_model(tuned_top5[0], method='Boosting', choose_better = True)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

Original model was better than the ensembled model, hence it will be returned. NOTE: The display metrics are for the ensembled model (not the original one).

In [54]:
# predict_model(boosting_male)
predict_model(boosting_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,1.414197,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1342778.0,19.652466,39.912247,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.875632
15648,1.616119,1.416172,1.450717,1.0,0.0,0.0,1.0,0.0,0.0,1777955.0,16.048269,42.655411,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.667200
15649,0.641425,1.433670,1.528285,1.0,0.0,0.0,1.0,0.0,0.0,758997.0,12.481868,37.537498,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.756965
15650,2.139935,1.450245,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,1643272.0,15.142898,33.353134,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.407902
15651,1.459372,1.450245,1.083296,1.0,0.0,0.0,1.0,0.0,0.0,939536.0,19.553162,57.548309,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.119968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,1.433670,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1648769.0,15.472878,30.896320,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,2.010035
22349,0.972281,1.512048,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,765109.0,19.142370,38.709057,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.922588
22350,1.715368,1.416172,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,955743.0,23.193159,38.777653,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.486502
22351,1.140044,1.512048,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,1256076.0,12.991810,39.865944,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.953625
22352,1.459372,1.425595,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,939576.0,19.100424,44.020832,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.759506

In [55]:
# final_model = finalize_model(boosting_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(boosting_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.125000
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.875000
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.367188
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.351562
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.117188

In [56]:
# stack_male = stack_models(best_model_5)
stack_female = stack_models(best_model_5)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [57]:
# predict_model(stack_male)
predict_model(stack_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,1.414197,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1342778.0,19.652466,39.912247,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.875405
15648,1.616119,1.416172,1.450717,1.0,0.0,0.0,1.0,0.0,0.0,1777955.0,16.048269,42.655411,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.668734
15649,0.641425,1.433670,1.528285,1.0,0.0,0.0,1.0,0.0,0.0,758997.0,12.481868,37.537498,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.756725
15650,2.139935,1.450245,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,1643272.0,15.142898,33.353134,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.395416
15651,1.459372,1.450245,1.083296,1.0,0.0,0.0,1.0,0.0,0.0,939536.0,19.553162,57.548309,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.128106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,1.433670,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1648769.0,15.472878,30.896320,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,2.009452
22349,0.972281,1.512048,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,765109.0,19.142370,38.709057,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.921022
22350,1.715368,1.416172,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,955743.0,23.193159,38.777653,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.486731
22351,1.140044,1.512048,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,1256076.0,12.991810,39.865944,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.960153
22352,1.459372,1.425595,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,939576.0,19.100424,44.020832,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.748983

In [58]:
# final_model = finalize_model(stack_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(stack_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.130731
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.873621
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.379817
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.337488
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.116617

In [59]:
# stack_male = stack_models(tuned_top5)
stack_female = stack_models(tuned_top5)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [60]:
# predict_model(stack_male)
predict_model(stack_female)

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
15647,1.972467,1.414197,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1342778.0,19.652466,39.912247,77.0,19.35,1025.527954,43.500000,4.250000,0.017544,2.0,1.875373
15648,1.616119,1.416172,1.450717,1.0,0.0,0.0,1.0,0.0,0.0,1777955.0,16.048269,42.655411,45.0,10.00,1031.750000,43.200001,5.040000,0.000000,2.0,1.670499
15649,0.641425,1.433670,1.528285,1.0,0.0,0.0,1.0,0.0,0.0,758997.0,12.481868,37.537498,33.0,12.20,1029.699951,39.900002,6.493333,1.333333,0.0,0.757674
15650,2.139935,1.450245,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,1643272.0,15.142898,33.353134,74.0,19.90,1026.699951,40.599998,5.792857,0.000000,3.0,2.395271
15651,1.459372,1.450245,1.083296,1.0,0.0,0.0,1.0,0.0,0.0,939536.0,19.553162,57.548309,63.0,14.90,1030.219971,42.799999,4.280000,0.000000,2.0,1.130966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22348,2.139935,1.433670,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,1648769.0,15.472878,30.896320,55.0,13.00,1021.285706,40.900002,11.985714,15.039474,1.0,2.009813
22349,0.972281,1.512048,1.369624,1.0,0.0,0.0,1.0,0.0,0.0,765109.0,19.142370,38.709057,71.0,17.10,972.428589,43.500000,145.024994,0.001333,0.0,0.926601
22350,1.715368,1.416172,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,955743.0,23.193159,38.777653,66.0,7.70,1015.053833,44.400002,8.677778,0.290541,3.0,1.489418
22351,1.140044,1.512048,1.210550,1.0,0.0,0.0,1.0,0.0,0.0,1256076.0,12.991810,39.865944,31.0,12.40,1024.750000,40.500000,4.650000,0.000000,1.0,0.962192
22352,1.459372,1.425595,1.766637,1.0,0.0,0.0,1.0,0.0,0.0,939576.0,19.100424,44.020832,72.0,22.00,1006.973328,42.400002,3.166667,0.000000,1.0,1.747720

In [61]:
# final_model = finalize_model(stack_male)
# prediction = predict_model(final_model, data=male_data_unseen)

final_model = finalize_model(stack_female)
prediction = predict_model(final_model, data=female_data_unseen)

prediction.head()

,area,mm,weekday,heat_wave_0.0,heat_wave_2.0,heat_wave_1.0,cold_wave_0.0,cold_wave_2.0,cold_wave_1.0,total_pop,elderly_ratio,pm10_3b,diff_hum,diff_temp,avg_ps,avg_age,min_max_ps,sum_rn,frequency,Label
0,4.407605,1.466561,1.082916,1.0,0.0,0.0,1.0,0.0,0.0,5928150.0,10.649039,106.851852,27.0,7.900000,1024.875000,37.700001,5.500000,0.037736,5.0,4.139469
1,1.161977,1.469214,1.084481,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,88.346825,32.0,3.900000,1022.900024,40.000000,5.150000,0.166667,0.0,0.880668
2,1.676292,1.466030,1.082603,1.0,0.0,0.0,1.0,0.0,0.0,956701.0,23.026421,64.120834,42.0,7.900000,1024.681519,44.299999,3.721429,0.297297,6.0,1.382354
3,1.161217,1.468684,1.556565,1.0,0.0,0.0,1.0,0.0,0.0,1256489.0,12.375118,69.968262,32.0,7.700000,1020.750000,40.000000,5.700000,0.500000,1.0,1.339767
4,0.963691,1.468153,1.522365,1.0,0.0,0.0,0.0,1.0,0.0,762617.0,18.053362,86.279167,70.0,18.200001,1024.880005,42.400002,8.460000,0.000000,2.0,1.097823