In [1]:
import pandas as pd

In [2]:
hum = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/edited_data/forecast_humidity_0729.csv', encoding='cp949')
temp = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/edited_data/forecast_temperature_0729.csv', encoding='cp949')
temp

       avg_temp area         tma  max_temp  min_temp
0     -2.344048   강원  2012-01-01       5.0      -7.3
1     -3.010000   경기  2012-01-01       1.0      -6.9
2      1.642857   경남  2012-01-01       7.0      -2.9
3      0.075556   경북  2012-01-01       6.1      -5.9
4      0.383333   광주  2012-01-01       3.0      -0.9
...         ...  ...         ...       ...       ...
30220  2.666684   전남  2016-12-31       9.0      -4.7
30221  1.019392   전북  2016-12-31       7.5      -7.0
30222  7.058615   제주  2016-12-31      10.5       2.5
30223  1.146847   충남  2016-12-31       7.7      -4.0
30224 -0.256306   충북  2016-12-31       5.2      -6.8

[30225 rows x 5 columns]

In [3]:
area_name = [
'서울',
'부산',
'대구',
'인천',
'광주',
'대전',
'울산',
'세종',
'경기',
'강원',
'충북',
'충남',
'전북',
'전남',
'경북',
'경남',
'제주',
]

In [4]:
hum_df = pd.DataFrame(columns=['area','tma','min_humidity','max_humidity','avg_humidity'])
for area in area_name:
    hum2 = hum[hum['area']==area]
    hum2['tma'] = pd.to_datetime(hum2['tma'])
    head_range = pd.date_range(start='2012-01-01', end='2016-12-31')
    hum2.index = hum2['tma']
    hum3 = hum2.reindex(head_range, fill_value=None)
    hum3['tma'] = hum3.index
    hum3.reset_index(drop=True, inplace=True)
    hum3.insert(2, 'yyyy', hum3.tma.dt.year)
    hum3.insert(3, 'mm',   hum3.tma.dt.month)
    hum3.insert(4, 'dd',   hum3.tma.dt.day)
    hum3['area'] = area
    hum_df = pd.concat([hum_df, hum3], axis=0)

hum_df.sort_values(['tma', 'area'], inplace=True)
hum_df.reset_index(drop=True, inplace=True)
hum_df['tma'] = pd.to_datetime(hum_df['tma'])
hum_df

C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\815631091.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hum2['tma'] = pd.to_datetime(hum2['tma'])

,area,tma,min_humidity,max_humidity,avg_humidity,yyyy,mm,dd
0,강원,2012-01-01,30.0,95.0,58.333333,2012.0,1.0,1.0
1,경기,2012-01-01,38.0,65.0,50.733333,2012.0,1.0,1.0
2,경남,2012-01-01,31.0,78.0,44.916667,2012.0,1.0,1.0
3,경북,2012-01-01,20.0,90.0,52.377778,2012.0,1.0,1.0
4,광주,2012-01-01,70.0,85.0,75.833333,2012.0,1.0,1.0
...,...,...,...,...,...,...,...,...
31054,전남,2016-12-31,40.0,89.0,65.555094,2016.0,12.0,31.0
31055,전북,2016-12-31,45.0,87.0,72.161486,2016.0,12.0,31.0
31056,제주,2016-12-31,45.0,76.0,60.569257,2016.0,12.0,31.0
31057,충남,2016-12-31,54.0,95.0,75.118243,2016.0,12.0,31.0
31058,충북,2016-12-31,55.0,90.0,72.665541,2016.0,12.0,31.0

In [5]:
hum_df.isnull().sum()

area               0
tma                0
min_humidity    1188
max_humidity    1188
avg_humidity    1188
yyyy               0
mm                 0
dd                 0
dtype: int64

In [6]:
temp_df = pd.DataFrame(columns=['area','tma','min_temp','max_temp','avg_temp'])
for area in area_name:
    temp2 = temp[temp['area']==area]
    temp2['tma'] = pd.to_datetime(temp2['tma'])
    head_range = pd.date_range(start='2012-01-01', end='2016-12-31')
    temp2.index = temp2['tma']
    temp3 = temp2.reindex(head_range, fill_value=None)
    temp3['tma'] = temp3.index
    temp3.reset_index(drop=True, inplace=True)
    temp3.insert(2, 'yyyy', temp3.tma.dt.year)
    temp3.insert(3, 'mm',   temp3.tma.dt.month)
    temp3.insert(4, 'dd',   temp3.tma.dt.day)
    temp3['area'] = area
    temp_df = pd.concat([temp_df, temp3], axis=0)

temp_df.sort_values(['tma', 'area'], inplace=True)
temp_df.reset_index(drop=True, inplace=True)
temp_df['tma'] = pd.to_datetime(temp_df['tma'])
temp_df

C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])
C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\3177306142.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2['tma'] = pd.to_datetime(temp2['tma'])

      area        tma  min_temp  max_temp  avg_temp    yyyy    mm    dd
0       강원 2012-01-01      -7.3       5.0 -2.344048  2012.0   1.0   1.0
1       경기 2012-01-01      -6.9       1.0 -3.010000  2012.0   1.0   1.0
2       경남 2012-01-01      -2.9       7.0  1.642857  2012.0   1.0   1.0
3       경북 2012-01-01      -5.9       6.1  0.075556  2012.0   1.0   1.0
4       광주 2012-01-01      -0.9       3.0  0.383333  2012.0   1.0   1.0
...    ...        ...       ...       ...       ...     ...   ...   ...
31054   전남 2016-12-31      -4.7       9.0  2.666684  2016.0  12.0  31.0
31055   전북 2016-12-31      -7.0       7.5  1.019392  2016.0  12.0  31.0
31056   제주 2016-12-31       2.5      10.5  7.058615  2016.0  12.0  31.0
31057   충남 2016-12-31      -4.0       7.7  1.146847  2016.0  12.0  31.0
31058   충북 2016-12-31      -6.8       5.2 -0.256306  2016.0  12.0  31.0

[31059 rows x 8 columns]

In [7]:
temp_df.isnull().sum()

area          0
tma           0
min_temp    834
max_temp    834
avg_temp    834
yyyy          0
mm            0
dd            0
dtype: int64

## 결측치 처리 

- 2012년 : 데이터 기존꺼랑 비교해서 null 값 대체(대구)
- 2012년 나머지 + 2015, 2016년 : 해당 일자의 전국 평균(예보데이터)으로 대체
- else : 관측데이터

In [102]:
temp_df[temp_df.min_temp.isnull()].yyyy.unique()

array([2012., 2015., 2016.])

In [25]:
hum_df[hum_df.min_humidity.isnull()].yyyy.unique()

array([2012., 2015., 2016.])

In [23]:
hum_origin = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/edited_data/forecast_humidity.csv', encoding='cp949')
hum_origin.drop('Unnamed: 0', axis=1, inplace=True)
hum_origin = hum_origin[['area', 'tma', 'avg_humidity', 'min_humidity', 'max_humidity']]
hum_origin

      area         tma  avg_humidity  min_humidity  max_humidity
0       강원  2012-01-01     58.333333          30.0          95.0
1       경기  2012-01-01     50.733333          38.0          65.0
2       경남  2012-01-01     44.916667          31.0          78.0
3       경북  2012-01-01     52.377778          20.0          90.0
4       광주  2012-01-01     75.833333          70.0          85.0
...    ...         ...           ...           ...           ...
23727   전남  2015-12-31     66.764033          30.0          95.0
23728   전북  2015-12-31     73.750000          45.0          95.0
23729   제주  2015-12-31     59.915541          45.0          78.0
23730   충남  2015-12-31     74.725225          40.0          95.0
23731   충북  2015-12-31     70.658784          40.0          95.0

[23732 rows x 5 columns]

In [62]:
# hum_origin 우선 merge 후 null값 판단 (기존 데이터 notnull + 새로운 데이터 null)
tmp_hum = pd.merge(hum_df, hum_origin, how = 'left', on = ['area', 'tma'])
tmp_hum.loc[(tmp_hum.min_humidity_x.isnull()) & ~(tmp_hum.min_humidity_y.isnull()), 'min_humidity_x'] = tmp_hum.loc[(tmp_hum.min_humidity_x.isnull()) & ~(tmp_hum.min_humidity_y.isnull()), 'min_humidity_y']
tmp_hum.loc[(tmp_hum.avg_humidity_x.isnull()) & ~(tmp_hum.avg_humidity_y.isnull()), 'avg_humidity_x'] = tmp_hum.loc[(tmp_hum.avg_humidity_x.isnull()) & ~(tmp_hum.avg_humidity_y.isnull()), 'avg_humidity_y']
tmp_hum.loc[(tmp_hum.max_humidity_x.isnull()) & ~(tmp_hum.max_humidity_y.isnull()), 'max_humidity_x'] = tmp_hum.loc[(tmp_hum.max_humidity_x.isnull()) & ~(tmp_hum.max_humidity_y.isnull()), 'max_humidity_y']

tmp_hum[tmp_hum.yyyy == 2012].isnull().sum()

area                0
tma                 0
min_humidity_x    399
max_humidity_x    399
avg_humidity_x    399
yyyy                0
mm                  0
dd                  0
avg_humidity_y    986
min_humidity_y    986
max_humidity_y    986
dtype: int64

In [103]:
tmp_hum[['area','tma','min_humidity_x','max_humidity_x','avg_humidity_x']].isnull().sum()

area                0
tma                 0
min_humidity_x    880
max_humidity_x    880
avg_humidity_x    880
dtype: int64

In [107]:
tmp_hum = tmp_hum[['area','tma','yyyy','mm','dd', 'min_humidity_x','max_humidity_x','avg_humidity_x']]
tmp_hum.rename(columns = {'min_humidity_x' : 'min_hum',
                          'max_humidity_x' :'max_hum',
                          'avg_humidity_x' :'avg_hum'}, inplace=True)

C:\Users\dltmf\AppData\Local\Temp\ipykernel_39020\962268253.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_hum.rename(columns = {'min_humidity_x' : 'min_hum',

In [122]:
subset_hum = tmp_hum.groupby('tma', as_index=False).mean()
subset_hum[subset_hum.min_hum.isnull()]   # 일평균 값 자체의 null 값 존재

            tma    yyyy    mm    dd  min_hum  max_hum  avg_hum
315  2012-11-11  2012.0  11.0  11.0      NaN      NaN      NaN
316  2012-11-12  2012.0  11.0  12.0      NaN      NaN      NaN
317  2012-11-13  2012.0  11.0  13.0      NaN      NaN      NaN
318  2012-11-14  2012.0  11.0  14.0      NaN      NaN      NaN
319  2012-11-15  2012.0  11.0  15.0      NaN      NaN      NaN
320  2012-11-16  2012.0  11.0  16.0      NaN      NaN      NaN
321  2012-11-17  2012.0  11.0  17.0      NaN      NaN      NaN
322  2012-11-18  2012.0  11.0  18.0      NaN      NaN      NaN
323  2012-11-19  2012.0  11.0  19.0      NaN      NaN      NaN
324  2012-11-20  2012.0  11.0  20.0      NaN      NaN      NaN
325  2012-11-21  2012.0  11.0  21.0      NaN      NaN      NaN
326  2012-11-22  2012.0  11.0  22.0      NaN      NaN      NaN
327  2012-11-23  2012.0  11.0  23.0      NaN      NaN      NaN
328  2012-11-24  2012.0  11.0  24.0      NaN      NaN      NaN
329  2012-11-25  2012.0  11.0  25.0      NaN      NaN      NaN
330  2012-11-26  2012.0  11.0  26.0      NaN      NaN      NaN
331  2012-11-27  2012.0  11.0  27.0      NaN      NaN      NaN
332  2012-11-28  2012.0  11.0  28.0      NaN      NaN      NaN
333  2012-11-29  2012.0  11.0  29.0      NaN      NaN      NaN
334  2012-11-30  2012.0  11.0  30.0      NaN      NaN      NaN
1240 2015-05-25  2015.0   5.0  25.0      NaN      NaN      NaN
1241 2015-05-26  2015.0   5.0  26.0      NaN      NaN      NaN
1242 2015-05-27  2015.0   5.0  27.0      NaN      NaN      NaN
1243 2015-05-28  2015.0   5.0  28.0      NaN      NaN      NaN
1244 2015-05-29  2015.0   5.0  29.0      NaN      NaN      NaN
1245 2015-05-30  2015.0   5.0  30.0      NaN      NaN      NaN
1246 2015-05-31  2015.0   5.0  31.0      NaN      NaN      NaN

In [138]:
null_idx = tmp_hum[tmp_hum.min_hum.isnull()].index
for idx in null_idx :
    tmp_hum.loc[idx, 'min_hum'] = subset_hum.loc[subset_hum.tma == tmp_hum.loc[idx, 'tma'], 'min_hum'].values[0]
    tmp_hum.loc[idx, 'max_hum'] = subset_hum.loc[subset_hum.tma == tmp_hum.loc[idx, 'tma'], 'max_hum'].values[0]
    tmp_hum.loc[idx, 'avg_hum'] = subset_hum.loc[subset_hum.tma == tmp_hum.loc[idx, 'tma'], 'avg_hum'].values[0]

In [141]:
tmp_hum[tmp_hum.min_hum.isnull()]

      area        tma    yyyy    mm    dd  min_hum  max_hum  avg_hum
5355    강원 2012-11-11  2012.0  11.0  11.0      NaN      NaN      NaN
5356    경기 2012-11-11  2012.0  11.0  11.0      NaN      NaN      NaN
5357    경남 2012-11-11  2012.0  11.0  11.0      NaN      NaN      NaN
5358    경북 2012-11-11  2012.0  11.0  11.0      NaN      NaN      NaN
5359    광주 2012-11-11  2012.0  11.0  11.0      NaN      NaN      NaN
...    ...        ...     ...   ...   ...      ...      ...      ...
21194   전남 2015-05-31  2015.0   5.0  31.0      NaN      NaN      NaN
21195   전북 2015-05-31  2015.0   5.0  31.0      NaN      NaN      NaN
21196   제주 2015-05-31  2015.0   5.0  31.0      NaN      NaN      NaN
21197   충남 2015-05-31  2015.0   5.0  31.0      NaN      NaN      NaN
21198   충북 2015-05-31  2015.0   5.0  31.0      NaN      NaN      NaN

[459 rows x 8 columns]

In [142]:
hum_0725 = pd.read_csv('Z:/공모전/날씨빅데이터콘테스트(공유)/data/edited_data/humidity_edited_0725.csv', encoding='cp949')
hum_0725

      area         tma    avg_rhm    min_rhm
0       강원  2011-12-01  83.354839  66.685294
1       강원  2011-12-02  86.000000  68.320588
2       강원  2011-12-03  95.000000  80.205882
3       강원  2011-12-04  72.117647  43.800000
4       강원  2011-12-05  71.088235  34.414706
...    ...         ...        ...        ...
31581   충북  2016-12-27  72.200000  40.610000
31582   충북  2016-12-28  71.400000  35.845000
31583   충북  2016-12-29  65.500000  30.250000
31584   충북  2016-12-30  73.450000  39.460000
31585   충북  2016-12-31  86.850000  69.520000

[31586 rows x 4 columns]

In [145]:
hum_0725['max_rhm'] = hum_0725.avg_rhm * 2 - hum_0725.min_rhm
hum_0725.loc[hum_0725['max_rhm']>100, 'max_rhm'] = 100
hum_0725

      area         tma    avg_rhm    min_rhm  max_rhm
0       강원  2011-12-01  83.354839  66.685294    100.0
1       강원  2011-12-02  86.000000  68.320588    100.0
2       강원  2011-12-03  95.000000  80.205882    100.0
3       강원  2011-12-04  72.117647  43.800000    100.0
4       강원  2011-12-05  71.088235  34.414706    100.0
...    ...         ...        ...        ...      ...
31581   충북  2016-12-27  72.200000  40.610000    100.0
31582   충북  2016-12-28  71.400000  35.845000    100.0
31583   충북  2016-12-29  65.500000  30.250000    100.0
31584   충북  2016-12-30  73.450000  39.460000    100.0
31585   충북  2016-12-31  86.850000  69.520000    100.0

[31586 rows x 5 columns]

In [146]:
hum_0725.max_rhm.describe()

count    31586.000000
mean        92.180804
std         11.937303
min         12.000000
25%         87.800000
50%         99.200000
75%        100.000000
max        100.000000
Name: max_rhm, dtype: float64

In [152]:
null_idx = tmp_hum[tmp_hum.min_hum.isnull()].index
for idx in null_idx :
    print(idx)
    print(hum_0725.area == tmp_hum.loc[idx, 'area'])
    print(hum_0725.loc[(hum_0725.area == tmp_hum.loc[idx, 'area']) & (hum_0725.tma == tmp_hum.loc[idx, 'tma']), 'min_rhm'])
#     tmp_hum.loc[idx, 'min_hum'] = hum_0725.loc[(hum_0725.area == tmp_hum.loc[idx, 'area']) & (hum_0725.tma == tmp_hum.loc[idx, 'tma']), 'min_rhm'].values[0]
#     tmp_hum.loc[idx, 'max_hum'] = hum_0725.loc[(hum_0725.area == tmp_hum.loc[idx, 'area']) & (hum_0725.tma == tmp_hum.loc[idx, 'tma']), 'max_rhm'].values[0]
#     tmp_hum.loc[idx, 'avg_hum'] = hum_0725.loc[(hum_0725.area == tmp_hum.loc[idx, 'area']) & (hum_0725.tma == tmp_hum.loc[idx, 'tma']), 'avg_rhm'].values[0]

5355
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5356
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5357
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5358
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5359
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5360
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5361
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5362
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5363
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5364
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5365
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5366
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5367
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5368
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5369
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5370
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5371
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5372
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5373
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5374
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5375
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5376
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5377
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5378
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5379
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5380
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5381
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5382
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5383
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5384
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5385
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5386
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5387
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5388
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5389
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5390
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5391
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5392
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5393
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5394
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False

Name: area, Length: 31586, dtype: bool
5395
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5396
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5397
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5398
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5399
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5400
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5401
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5402
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5403
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5404
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5405
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5406
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5407
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5408
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5409
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5410
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5411
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5412
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5413
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5414
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5415
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5416
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5417
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5418
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5419
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5420
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5421
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5422
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5423
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5424
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5425
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5426
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5427
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5428
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5429
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5430
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5431
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5432
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5433
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5434
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5435
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5436
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False

Name: area, Length: 31586, dtype: bool
5437
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5438
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5439
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5440
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5441
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5442
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5443
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5444
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5445
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5446
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5447
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5448
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5449
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5450
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5451
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5452
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5453
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5454
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5455
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5456
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5457
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5458
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5459
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5460
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5461
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5462
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5463
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5464
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5465
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5466
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5467
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5468
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5469
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5470
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5471
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5472
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5473
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5474
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5475
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5476
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5477
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5478
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False

Name: area, Length: 31586, dtype: bool
5479
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5480
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5481
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5482
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5483
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5484
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5485
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5486
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5487
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5488
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5489
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5490
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5491
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5492
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5493
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5494
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5495
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5496
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5497
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5498
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5499
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5500
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5501
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5502
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5503
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5504
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5505
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5506
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5507
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5508
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5509
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5510
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5511
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5512
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5513
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5514
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5515
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5516
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5517
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5518
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5519
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5520
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5521
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5522
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5523
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5524
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True

Name: area, Length: 31586, dtype: bool
5525
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5526
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5527
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5528
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5529
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5530
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5531
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5532
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5533
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5534
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5535
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5536
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5537
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5538
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5539
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5540
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5541
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5542
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5543
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5544
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5545
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5546
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5547
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5548
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5549
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5550
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5551
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5552
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5553
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5554
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5555
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5556
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5557
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5558
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5559
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5560
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5561
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5562
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5563
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5564
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5565
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5566
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5567
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5568
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5569
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False

Name: area, Length: 31586, dtype: bool
5570
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5571
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5572
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5573
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5574
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5575
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5576
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5577
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5578
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5579
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5580
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5581
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5582
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5583
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5584
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5585
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5586
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5587
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5588
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5589
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5590
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5591
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5592
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5593
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5594
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5595
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5596
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5597
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5598
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5599
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5600
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5601
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5602
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5603
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5604
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5605
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5606
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5607
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5608
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5609
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5610
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5611
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5612
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5613
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5614
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5615
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5616
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5617
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5618
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5619
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5620
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5621
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5622
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5623
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5624
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5625
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5626
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5627
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5628
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5629
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5630
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5631
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5632
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5633
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False

Name: area, Length: 31586, dtype: bool
5634
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5635
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5636
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5637
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5638
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5639
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5640
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5641
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5642
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5643
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5644
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5645
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5646
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5647
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5648
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5649
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5650
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5651
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5652
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5653
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5654
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5655
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5656
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5657
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5658
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5659
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5660
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5661
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5662
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5663
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5664
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5665
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5666
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5667
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5668
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5669
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5670
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5671
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5672
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5673
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5674
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5675
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5676
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5677
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
5678
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5679
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5680
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5681
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5682
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5683
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5684
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5685
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5686
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5687
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5688
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5689
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5690
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5691
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5692
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5693
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
5694
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
21080
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21081
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21082
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21083
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21084
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21085
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21086
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False

Name: area, Length: 31586, dtype: bool
21087
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21088
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21089
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21090
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21091
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21092
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21093
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21094
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21095
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21096
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
21097
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21098
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21099
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21100
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21101
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21102
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21103
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21104
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21105
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21106
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21107
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21108
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21109
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21110
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21111
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21112
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21113
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
21114
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21115
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21116
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21117
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21118
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21119
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21120
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21121
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21122
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21123
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21124
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21125
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21126
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21127
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21128
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21129
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21130
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
21131
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21132
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21133
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21134
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21135
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21136
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21137
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21138
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21139
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21140
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21141
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21142
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21143
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21144
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21145
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21146
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21147
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
21148
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21149
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21150
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21151
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21152
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21153
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21154
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21155
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21156
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21157
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21158
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False

Name: area, Length: 31586, dtype: bool
21159
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21160
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21161
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21162
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21163
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21164
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
21165
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21166
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21167
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21168
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21169
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21170
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21171
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21172
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21173
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21174
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21175
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21176
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21177
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21178
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21179
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21180
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21181
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool
21182
0         True
1         True
2         True
3         True
4         True
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21183
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21184
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21185
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21186
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21187
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21188
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21189
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21190
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21191
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21192
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21193
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21194
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21195
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21196
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21197
0        False
1        False
2        False
3        False
4        False
         ...
31581    False
31582    False
31583    False
31584    False
31585    False
Name: area, Length: 31586, dtype: bool
21198
0        False
1        False
2        False
3        False
4        False
         ...
31581     True
31582     True
31583     True
31584     True
31585     True
Name: area, Length: 31586, dtype: bool